textarea {
    resize: none;
    width: 100%;
    border-radius: 4px;
    border-color: #aaa;
    padding: 10px;
}

.post {
    border: 1px #aaa solid;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 10px;
}

.body {
    padding: 5px;
}

.content {
    padding: 10px;
}

table {
    table-layout: fixed;
    width: 100%;
}

td, th {
    width: 50%;
    text-align: center;
}

#username {
    text-align: center;
}

.row { 
    margin: 0; 
    padding: 0 
}

#follow {
    width: 100%;
    margin-top: 5px;
}